.round{
    border-radius: 50%;
    object-fit: cover;
    width: 80px ;
    height: 80px;
    border: solid  rgb(167, 172, 188);
}
@media (max-width: 400px) {
    .round{
        width: 40px ;
        height: 40px;
    }
  }