.round{
    border-radius: 50%;
    object-fit: cover;
    width: 80px ;
    height: 80px;
    background: transparent 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
}
@media (max-width: 400px) {
    .round{
        width: 60px;
        height: 60px;
    }
  }