.background{
    background-color: white;
    min-width: 375px;
    max-width: 1000px;
    /* width: 500px;
    height: 1000px; */
    /* margin-left: 5px; */
     /* padding-right: 5px; */
}

.companyitem {
    display: table;
    width: 95%; /*Optional*/
    /* margin-left: 50px; */
    table-layout: fixed; /*Optional*/
    border-spacing: 5px; /*Optional*/
    border-bottom: 2px solid lightgray;
    max-width: 1000px;
    min-width: 375px;

    
}

.Column {
    display: table-cell;
    vertical-align: top ;
    vertical-align: middle ;
    text-align: right ;
    min-width: 375px;
    /* background-color: blueviolet; */
}

#companyimage{
    margin-right: 5px; 
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 40px;
}

#withImg{
    width: 50px;
    padding: 10px;
    padding-right: 20px;
}

#hideImg{
    display:none;
}

#nexticon{
    /* width: 100px;
    height: 3px; */
    /* vertical-align:middle; */
    /* padding: 25px; */
    
    transform: rotate(180deg);

}

.ol{
    padding: 2px;
}
 .img1{
    width: 15px;
    height: 15px;
}
#companyname{
    color: black;
    vertical-align:middle;
}

#companytype{
    color: lightgray;
}