
.voting-header {
    position:  sticky;
    font-size: calc(10px + 2vmin);
    color: black;
    background-color:#3D4257;
    display: block;
    top:0;
}

.company-name{
    color: #B7BCCC;
    font-size: 18px;
    margin-bottom: 5%;
    padding-top:3%;
    opacity: 1;
}
  
.question-text{
    color: rgb(253, 253, 253);
    font-size: 20px;
    color:#FFFFFF;
    padding-top: 5%;
    padding-bottom: 5%;
}
