.mainDiv-voting {
  text-align: center;
  direction: rtl;
  font-family: Arial, Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  max-width: 600px;
  margin: auto;

}

.grid-container-voting-details {
  direction: rtl;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px;
  width: 80%;
  margin: auto;
  opacity: 1;
  margin-top: 30px;
}
.like-dislike-grid{
  grid-template-columns: 49%  0% 49%;
  margin: auto;
  margin-top: 5%;
}

.grid-container-voting-details > div {
  text-align: center;
}

.linebetween {
  font-size: 99px;
  width: 0px;
  border: #b7bccc solid 1px;
  opacity: 1;
}
.percent-div {
  text-align: left;
  font: normal normal bold 30px/18px Assistant;
  letter-spacing: 0.3px;
  color: #3d4257;
  opacity: 1;
}

.percent-div > p {
  font: normal normal 600 18px/18px Assistant;
  letter-spacing: 0.14px;
  color: #3d4257;
  opacity: 1;
}
.percent-div > h1{
  font-size: 40px;
}

.bold-font {
  font-size: 16px;
  text-align: center;
  font: normal normal 600 16px/16px Assistant;
  letter-spacing: 0px;
  color: #324483;
  text-transform: uppercase;
  opacity: 1;
}
.body-div {
  background-color: #fafafa;
}

.body-like {
  width: 100%;
  height: 100px;
  color: #324483;
}

.body-div > p {
  font: normal normal 600 18px/23px Assistant;
  letter-spacing: 0.11px;
  color: #324483;
  opacity: 1;
}

.body-dislike {
  width: 100%;
  height: 100px;
  color: #324483;
}

.body-likeActive {
  width: 100%;
  height: 100px;
  color: green;
}
.body-dislikeActive {
  width: 100%;
  height: 100px;
  color: red;
}

@media screen and (min-width: 300px) {
}
