.background {
  background-color: white;
  min-width: 375px;
  max-width: 1000px;
}


.grid-container {
  display              : grid;
  grid-template-columns: auto auto auto auto;
  grid-gap             : 3px;
  width                : 100%;
  margin               : auto;
  opacity: 1;
  margin-bottom: 0;



}
.space{
  display: flex;
  text-align: center;
  

}
.companylike {
  color: #324483;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 48px;
}

.companyName {
  color: #324483;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 120px

  /* justify-content: space-between; */
  /* width: 50px; */
}

.companyimage {
  margin-left: 200px;
  height: 50px;
  width: 50px;
  /* padding: 10px; */
  border-radius: 40px;
}

.withImg {
  width: 50px;
  padding: 10px;
  padding-right: 20px;
}

.hideImg {
  display: none;
}

.nexticon {
  /* width: 100px;
      height: 3px; */
  /* vertical-align:middle; */
  /* padding: 25px; */
  width: 45%;
  transform: rotate(180deg);

}

.img1 {
  width: 15px;
  height: 15px;
}


.body-like1 {
  width: 2rem !important;
  height: 50px !important;
  color: #324483 !important;
  cursor: pointer !important;
}

.body-dislike1 {
  width: 2rem !important;
  height: 50px !important;
  color: #324483 !important;
  cursor: pointer !important;
}

.flex {
  display: flex;
}
.body-likeActive1 {
  width: 2rem !important;
  height: 50px !important;
  color: green !important;
  cursor: pointer !important;
}
.body-dislikeActive1 {
  width:  2rem  !important;
  height: 50px !important;
  color: red !important;
  cursor: pointer !important;
}
