.container1 {
  background-color: #3d4257;
  position: relative;
  color: white;
  direction: rtl;
  align-items: center;
  text-align: center;
  object-fit: contain;
  max-width: 600px;
  min-width: 375px;
  height: 250px;
  margin: auto;
}
.page_above {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding-top: 2.5%;
  margin-right: 6%;
  width: 55%;
  justify-content: space-between;
  margin-bottom: 8%;
}
.page_above > h1 {
  font-size: large;
}
#ChevronRightIcon {
  cursor: pointer;
}

.container1 > h1 {
  font-size: xx-large;
  margin-bottom: 0%;
}
.container1 > h0 {
  font-size: x-small;
  color: #dedfe2;
}
.vote-status-dashboard2 {
  display: flex;
  justify-content: space-around;
  margin: auto;
  min-width: 375px;
  margin-top: 10%;
  padding-bottom: 5%;
}
