.textdisplay {

    top: 194px;
    margin-left: 321px;
    width: 38px;
    height: 15px;
    
text-align: right;
font: normal normal normal 16px/21px Assistant;
letter-spacing: 0.1px;
color: #717480;
opacity: 0.6;

display: inline;
direction: rtl;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  
    opacity: 0.5; /* Firefox */
  }
  
.first { 
direction:  rtl;
}

.space{
    margin-top: 27px;
}

.textinput {
    width:340px;
    border: 0px none;
    margin-left: 60px;
    color: #3D4257;
    height: 30px;
}

.textbox{
    width:100px;
}