.all-tabs{
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 0%;
    border-bottom: solid rgb(167, 172, 188);
    box-shadow: 5px 10px 18px #b1afaf80;
    position: sticky;
  }
  ul{
    display: flex;
    width: 80%;
    padding: 0%;
    margin:0%;
    margin-right: auto;
    margin-left: auto;
    
  }
  li{
    list-style-type: none;
    padding:10px;
    width: 100%;
    cursor: pointer;
    font-size: 18px;
  }
  .active-nav{
    display: flexbox;
    color:rgb(94, 108, 157);
    border-bottom: solid rgb(94, 108, 157);
  
  }
  .non-active-nav{
    color: rgb(167, 172, 188);
  }