#navBarTable{
  display: flex;
  margin: auto;
  max-width: 600px;
  min-width: 375px;
}  
  #tableOfNav{
    text-align: center;
    width: 100%;
    height: 8%;
    min-width: 375px;
    max-width: 600px;
  }
  #thSpace{
      width:17%;
  }
  #thText{
    width:66%;
    color: #B7BCCC;
    font-size: 18px;
}
#thText>p{
  margin-top: 13px;
}
#thArrow{
  text-align: left;
    width:17%;
}