.background{
    background-color: white;
    width: 95%;
    min-width: 375px;
    max-width: 1000px;
    /* width: 500px;
    height: 1000px; */
    /* margin-left: 5px; */
     /* padding-right: 5px; */
}

.NavBar{
    display: table;
    width: 95%; 
    table-layout: fixed;
    max-width: 1000px;
    min-width: 375px;
}

.Column {
    display: table-cell;
    vertical-align: top ;
    vertical-align: middle ;
    text-align: center ;
    min-width: 375px;
    /* background-color: blueviolet; */
}

#companyimage{
    text-align: center ;
    margin-right: 5px; 
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 40px;
}


.addProfile{
width: 30px;
height: 30px;  
float: right;
transform: rotate(180deg);
}

 .showList{
    text-align: right ;
    vertical-align: right;
    float: right;
    margin-right: 8px;
    width: 30px;
    height: 30px;  
    transform: rotateY(180deg);
}
