.body {
  max-width: 600px;
  min-width: 375px;
  text-align: center;
  margin: auto;

}

#divOnCircle{
  display: flex;
  margin: auto;
  justify-content: center;
  

}

.description_firstPages {
  font: normal normal normal 18px/22px Assistant;
  letter-spacing: 0px;
  color: #343434;
  opacity: 0.6;
  padding-left: 20px;
  padding-right: 20px;
}

#buttonOrg {
  width: 90%;
  height: 38px;
  background: #3D4257 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 1px #00000024;
  opacity: 1;
  border-radius: 4px;
  color: white;
  font: normal normal 600 14px/16px Assistant;
  margin-top: 80px;
}

.icon {
  width: 180px;
  height: 180px;
  background: #EAEAEA 0% 0% no-repeat padding-box;
  border-radius: 50%;
}
.icon1 {
  margin-top: 100px;
  width: 180px;
  height: 150px;
  background-image: url('../../imgs/logo.PNG');
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
  
.title{
  font: normal normal 600 20px/16px Assistant;
  letter-spacing: 0px;
  color: #324483;
  text-transform: uppercase;
  opacity: 1;


}
.titles{
  padding-top: 264px;
  top: 264px;
left: 110px;
width: 160px;
height: 42px;
text-align: left;
font: normal normal 600 32px/16px Assistant;
letter-spacing: 0px;
color: #324483;
text-transform: uppercase;
opacity: 1;


}
.signin {
  width: 100%;
  text-decoration: underline;
  font: normal normal 600 14px/16px Assistant;
  letter-spacing: 1.25px;
  color: #324483;
  text-transform: uppercase;
  opacity: 1;
}


#button11{
  width: 343px;
  height: 38px;
  background: #3D4257 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 1px #00000024;
  opacity: 1;
  border-radius: 4px;
  color: white;
  font: normal normal 600 14px/16px Assistant;
  margin-top: 80px;
}

