.info {
    top: 144px;
left: 16px;
width: 1000px;
height: 26px;
text-align: right;
font: normal normal 600 20px/16px Assistant;
letter-spacing: 1px;
color: #324483;
text-transform: uppercase;
opacity: 1;
display: inline;
}
.but {
    top: 605px;
left: 16px;
color: #FFFFFF;

width: 343px;
height: 38px;
background: #3C4157 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 1px #00000024;
opacity: 1;
}