.bod {
    top   : 0px;
    left  : 0px;
    width : 375px;
    height: 667px;
    text-align  : center;
    margin      : auto;
    align-items : center;
    /* max-height: 600px; */
    border  :solid #3244831c;
    
   
  }

.direction{
  
 direction: rtl;
}
.icon2{
  top: 40px;
left: 114px;
width: 146px;
height: 146px;
background: #EAEAEA 0% 0% no-repeat padding-box;
opacity: 1;
}
  .titleQ{
    top: 270px;
    padding-right: 78px;
    width: 219px;
    height: 26px;
    text-align: center;
    font: normal normal 600 20px/16px Assistant;
    letter-spacing: 0px;
    color: #324483;
    text-transform: uppercase;
    opacity: 1;
  }

  .name{
    top: 293px;
    left: 264px;
    width: 74px;
    height: 15px;
    text-align: right;
    font: normal normal normal 12px/22px Assistant;
    letter-spacing: 0px;
    color: #717480;
    opacity: 0.6;
    direction: rtl;
  }

  .channelname{
    top: 375px;
    left: 258px;
    width: 80px;
    height: 15px;
    text-align: right;
    font: normal normal normal 12px/22px Assistant;
    letter-spacing: 0px;
    color: #717480;
    opacity: 0.6;
  }
  .select {
    width: 300px;
  }
  .but{
    margin-top: 130px;
    left: 16px;
    width: 343px;
    height: 38px;
    background: #3D4257 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 1px #00000024;
    opacity: 1;
  }

  a,
a label {
    cursor: pointer;
}
