#buttonsBar {
    display: flex;
    min-width: 375px;
    flex-direction: row-reverse;
    max-width: 600px;
    margin-left: 188px;
    display: flex;
    height: 56px;
  }
  
  #Personal,
  #Confirm
  {
    width :50%;
  }
.title2{
  top: 0px;
  height: 56px;
  opacity: 1;
  background-color: #3D4257;
}
.space{
  margin-left: 27px;
}
.complete{
  width: 90%;
  font-size: 17px;
  color: white;
  height: 38px;
  background: #3C4157 0% 0%;
  box-shadow: 0px 2px 1px #00000024;
  opacity: 1;
}
  .radiobutton{
    top: 213px;
    left: 203px;
    width: 200px;
    height: 21px;
    text-align: right;
    font: normal normal 600 16px/21px Assistant;
    letter-spacing: 0.1px;
    color: #324483;
    opacity: 1;
    display: inline-block;
  }
  .error{
    color: red;
  }
  .radiobutton2{
    top: 295px;
    left: 178px;
    width: 181px;
    height: 21px;
    text-align: right;
    
    letter-spacing: 0.1px;
    color: #324483;
    opacity: 1;  
  }

  h1{
    font: normal normal 600 16px/16px Assistant;
    
  }
.tittleRegister{
  text-align: right;
  font: normal normal normal 12px/22px Assistant;
  letter-spacing: 0px;
  color: #717480;
  opacity: 0.6;
  margin: 0;
}
  .line {
    width: 100%;
    background-color: #00000024;
    height: 2.5px;
}
.button{
  top: 605px;
left: 16px;
width: 343px;
height: 38px;
background: #3D4257 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 1px #00000024;
opacity: 1;
}

.title5{
  color: white;
  font-weight: bold;
  margin-top: 100px;
  padding-top: 50px;
  top:50px;
}
#h3_1{
  font: normal normal 600 20px/16px Assistant;
  letter-spacing: 0px;
  color: #324483;
  text-transform: uppercase;
  opacity: 1;
}

#radioButtonPlace{
 text-align: left;
    width: 50%; 
}


#TextPlace{
  text-align: right;
    width: 50%;
}

#formRegister{
  margin: 20px 20px 0px 20px;
}